.sticky-header 
{
    position: sticky;
    top: 0; /* Adjust this if you have a top navigation bar */
    z-index: 10; /* Ensures it stays above other content */
    background-color: white; /* Matches the background to avoid transparency issues */
    padding: 10px 0; /* Optional: adjust padding for aesthetics */
    border-bottom: 1px solid #ddd; /* Optional: adds a bottom border for emphasis */
}
#darkModeToggle {
  background-color: #555; /* Darker background for better contrast */
  border: 1px solid #ddd;
  color: #fff; /* Keep text white for visibility */
  transition: background-color 0.3s, color 0.3s;
}

#darkModeToggle:hover {
  background-color: #333; /* Slightly darker for hover effect */
  color: #ffa726; /* Light orange for hover text color */
}
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .navbar {
  background-color: #222;
}
body.dark-mode .toggleDark {
    background-color: #D80303;
    border: 1px solid #ddd;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode .countdown-container {
  background: linear-gradient(145deg, #333, #1a1a1a);
  border-color: #444;
}

body.dark-mode .time-box {
  background: #222;
  box-shadow: 2px 2px 5px #0a0a0a, -2px -2px 5px #2e2e2e;
}

body.dark-mode a {
  color: #ffa726;
}

body.dark-mode a:hover {
  color: #ffcc80;
}
body 
{
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}
.nba-countdown-header {
  font-family: 'Arial', sans-serif;
  font-size: 3rem; /* Base font size for large screens */
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ff6f61, #ffa726);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.nba-countdown-header small {
  display: block;
  font-size: 1.2rem; /* Smaller size for subtext */
  font-weight: normal;
  color: #ddd;
  text-transform: none;
  margin-top: 10px;
}
.countdown-container {
  margin: 50px auto;
  padding: 20px;
  max-width: 700px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: linear-gradient(145deg, #333333, #1a1a1a);
  box-shadow: 5px 5px 15px #0f0f0f, -5px -5px 15px #262626;
  color: white;
}
.countdown-title {
  font-size: 2rem;
  font-weight: bold;
}
